[Desktop Entry]
Version=1.0
Name=MavTest Script
Comment=Run the mavtest.sh script
Exec=./PolluxPenguin-beta/core/mavtest.sh
Icon=./PolluxPenguin-beta/imageslogoo.jpeg
Terminal=true
Type=Application
Categories=Utility;

